<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hora:</h1>
    <p>
        <!--Son las <%= hora %>-->
        
        <% if (hora < 12) { %>
            Buenos días
        <% } else { %>
            Buenas tardes
        <% } %>
    </p>
</body>
</html>